* {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #212428 !important;
}
.custom-card-bg {
  background-color: #212428 !important;
}

.svg-icon {
  width: 60px;
  height: auto;
  margin-bottom: 29px;
  border-radius: 10px;
  filter: invert(76%) sepia(63%) saturate(5709%) hue-rotate(175deg)
    brightness(96%) contrast(98%);
}

.highlight-text {
  color: #20a4f3 !important;
}
.custom-card-text {
  margin-bottom: 22px;
  line-height: 30px;
  font-size: 17px;
  color: #c4cfde !important;
}
#navbar-section {
  padding: 40px 0;
}
.nav-item > .nav-link {
  font-size: 19px;
  color: #c4cfde;
}
.nav-link:hover {
  color: #20a4f3 !important;
}
/* hero section */
#hero-section {
  height: 120vh;
  margin-bottom: 80px;
}
.hero-subtitle {
  color: #c4cfde;
  letter-spacing: 1px;
  line-height: 14px;
  font-weight: 500;
  font-size: 18px;
}
.hero-title {
  font-family: "Montserrat", sans-serif;
  font-size: 58px;
  margin-bottom: 5px;
  font-weight: 700;
  line-height: 1.2;
}
.hero-desc {
  font-size: 20px;
  color: #c4cfde;
  line-height: 1.7;
}
.hero-connect-text {
  font-size: 16px;
  font-weight: 300;
  color: #c4cfde;
}
.list-inline-item {
  width: 50px;
  height: 50px;
  text-align: center;
  border: 2px solid #212428;
  border-radius: 10px;
  padding: 5px;
  box-shadow: #1c1e22 10px 10px 19px 0, #262a2e -10px -10px 19px 0;
  transition: 0.7s ease-out;
}

.list-inline-item > a > i {
  font-size: 24px;
  color: white !important;
}
.list-inline-item:hover {
  transform: scale(1.1);
}

.hero-img-container img {
  margin-bottom: 50px;
}
.skill-upper-header .skill-subtitle {
  letter-spacing: 1px;
  line-height: 14px;
  font-weight: 500;
  font-size: 18px;
  color: #20a4f3;
}

.card-custom {
  box-shadow: #1c1e22 10px 10px 19px 0, #262a2e -10px -10px 19px 0;
  text-align: left;
  transition: 0.5s all ease-in-out;
  border-radius: 10px;
  min-height: 550px;
  padding: 30px 40px;
  color: white;
}

.card-custom > img {
  width: 50px;
}
.card-custom-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 32px;
  color: #c4cfde;
}

/* hero section */

/* Portfolio-section */
#portfolio-section {
  padding-top: 130px;
}

.portfolio-card-heading {
  color: #c4cfde !important;
  font-size: 27px;
  line-height: 39px;
  margin-bottom: 7px;
  font-weight: 500;
  transition: 0.4s;
}
.portfolio-card-subheading {
  color: #7c838e !important;
  display: block;
  font-size: 17px;
}

.portfolio-card-year {
  color: #20a4f3;
  background-color: #212428 !important;
  box-shadow: #1c1e22 10px 10px 19px 0, #262a2e -10px -10px 19px 0;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 2em;
  border: none;
  font-size: 14px;
}
.portfolio-card-upper {
  border-bottom: 1px solid black;
}
.portfolio-card-text {
  font-size: 19px;
  line-height: 32px;
  color: #c4cfde;
}
.portfolio-list-container > li {
  color: #c4cfde;
  list-style-type: disc;
  margin-top: 20px;
  font-size: 22px;
}
.project-short-text {
  color: #20a4f3;
  letter-spacing: 1px;
  display: block;
  line-height: 14px;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
}

.project-heading {
  font-size: 60px;
  font-weight: 900;
  line-height: 1.2;
  color: #fff;
  margin-top: 15px;
  margin-bottom: 0;
}
#project-section,
#contact-section {
  margin-top: 6rem;
}
.custom-card {
  background-color: #212428 !important;
  box-shadow: #1c1e22 10px 10px 19px 0, #262a2e -10px -10px 19px 0;
  text-align: center;
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 2em;
  border: none;
}

.card-title {
  padding-top: 10px;
  color: #fff !important;
}

/* Form Section */

.form-bg {
  background-color: #212428 !important;
  box-shadow: #1c1e22 10px 10px 19px 0, #262a2e -10px -10px 19px 0;
  padding-top: 50px;
  padding-left: 25px;
  padding-bottom: 20px;
  border-radius: 10px;
  border: none;
  font-family: "Montserrat", sans-serif;
}
.asterik {
  font-size: 17px;
  color: #d63637;
}

label {
  font-family: "Montserrat", sans-serif;
}
input {
  background-color: #191b1e !important;
  border-radius: 3px;
  color: #c4cfde !important;
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 0.25) !important;
}
textarea {
  background-color: #191b1e !important;
  border-radius: 3px;
  color: #c4cfde !important;
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 0.25) !important;
}
.btn-custom {
  width: 10% !important;
  background-color: #066aab !important  ;
  color: #fff !important;
  padding: 10px 35px;
  text-align: center;
  border: none;
  border-radius: 4px;
  font-size: 20px !important;
}
/* Form Section */

/* Footer section */
.img-col {
  display: flex;
  align-items: center;
}
.footer-header {
  margin-top: 0;
  margin-bottom: 22px;
  font-size: 35px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  line-height: 1.2;
  color: #20a4f3;
}
.footer-list {
  font-size: 18px;
  margin-bottom: 8px;
  color: white;
}
.footer-end-text {
  margin-top: 120px;
}
/* footer section */

.second-nav {
  background-color: #212428 !important;
  box-shadow: #1c1e22 10px 10px 19px 0, #262a2e -10px -10px 19px 0;
  padding: 30px 10px;
  font-size: 18px;
  border: 0;
  outline: none;
  border-radius: 10px;
}
.second-nav > li:hover {
  box-shadow: #1c1e22 10px 10px 19px 0, #262a2e -10px -10px 19px 0;
  padding: inherit;
}
